@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-4">
        <img src="~/img/Close-2-icon.png" class="w-100 img-fluid" />
    </div>
    <div class="col-md-8">
        <p class="display-4 lead text-danger">Bir hata oluştu. Teknik ekibimiz bilgilendirildi.</p>

    </div>
</div>

