@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <span>@User.Identity.Name</span>
    if (User.IsInRole("Admin"))
    {
        <div class="">
            Admin İçeriği
        </div>
    }
    <a asp-action="Logout" asp-controller="Account" class="btn btn-danger">Logout</a>
}
else
{
    //<a asp-controller="Account" asp-action="SignUp"  class="btn btn-success">Kayıt Ol</a>
    <a asp-controller="Account" asp-action="Login"  class="btn btn-primary">Giriş Yap</a>
}